/* Main container styling */
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
}

/* Error content styling */
.error-content {
  text-align: center;
  padding: 20px;
  max-width: 400px;
  background: rgb(252, 252, 252);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
}

/* Error code styling */
.error-code {
  font-size: 5rem;
  font-weight: bold;
  color: #0c0102;
  margin: 0;
}

/* Error message styling */
.error-message {
  font-size: 1.2rem;
  color: #555;
  margin: 10px 0;
}

/* Button styling */
.home-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: rgb(26, 2, 2);
  background-color: #c8cccf;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.home-button:hover {
  background-color: #ecedee;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
