/* Navbar brand styling */
.navbar-brand {
  width: 60px;
  height: 60px;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.nav-link {
  transition: color 0.3s ease;
  color: #363a3d;
}

.nav-link.active {
  color: #29ecab; 
  font-size: 17px;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
